version: "3.8"

services:
  database:
    image: postgres:13.0-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
    ports:
      - "5432:5432"
  app:
    build: .
    volumes:
      - ./app/:/usr/src/app/
    ports:
      - "8001:8001"
    depends_on:
      - database




volumes:
  postgres_data: