aiohttp==3.7.4.post0
asgiref==3.4.1
async-timeout==3.0.1
asyncio==3.4.3
attrs==21.2.0
certifi==2021.5.30
chardet==4.0.0
charset-normalizer==2.0.6
click==8.0.1
fastapi==0.68.1
greenlet==1.1.1
h11==0.12.0
idna==3.2
jikanpy==4.3.2
Jinja2==3.0.1
limit==0.2.3
MarkupSafe==2.0.1
multidict==5.1.0
psycopg2-binary==2.9.1
pydantic==1.8.2
# pygame==2.0.1
python-dotenv==0.19.0
requests==2.26.0
simplejson==3.17.5
SQLAlchemy==1.4.23
starlette==0.14.2
typing-extensions==3.10.0.2
urllib3==1.26.7
uvicorn==0.15.0
yarl==1.6.3
